* {
    margin: 0;
    padding: 0;
}

.choose_sec {
    display: flex;
    flex-direction: column;
}

.box_row {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.box-nav_section {
    width: 20%;
}

.red_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    flex: 0.5;

    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.btn_section {
    font-size: 1rem !important;
    padding: 1rem !important;
    margin-bottom: 1rem;
}

.progress_exo {
    font-family: "Roboto-Light";
    font-size: 1.1rem;
    border: 0.5px solid #C0C0C0 !important;
    border-radius: 5px !important;
    color: white;
    letter-spacing: 3px;
}

.progress_exo > span {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px  !important;
    border-top-left-radius: 5px  !important;
    border-bottom-left-radius: 5px  !important;
}
/*-----------------------------*/

.choose_exo {
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.red_exo {
    flex: 0.19;
    justify-content: space-between;
}

.heading_exo {
    font-size: 1.7rem;
    margin-top: -1.5rem;
}

.box-nav_exo {
    width: 10%;
}

.message {
    font-size: 1.3rem;
    font-family: "Roboto-Medium";
    color: #6E6E6E;
    margin-bottom: 1rem;
}

.status {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
}