* {
    padding: 0;
    margin: 0;
}

.class {
    display: flex;
    flex-direction: column;
}

.main_class {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}

.box_class {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto-Regular";
    display: flex;
    flex: 0 1 25%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
    border-radius: 3px;
    margin: 1rem;
}

.head_btn {
    margin-top: 1rem;
    text-align: center;
}


.form_index {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin: 2rem;
}

.zone_class {
    flex: 0.80;
    text-align: center;
}

.index {
    margin: auto;
    flex: 0.10;
    background-image: linear-gradient(to left bottom, #7ed56f, #28b485);
}

.heading_zone {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.heading_zone_class {
    
    font-family: "Roboto-Light";
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid black;
}

.text_class {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text {
    font-size: 1.8rem;
    margin: 2rem;
    color: #333;
}

.box_btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}



