* {
    padding: 0;
    margin: 0;
}

.visu {
    display: flex;
}

.main_stu {
    display: flex;
}

.box_visu {
    display: flex;
    justify-content: space-evenly;
    flex: 1 !important;
}

.navigation_link {
    display: inline-block;
}

.heading_red {
    font-family: "Roboto-Light";
    color: #55c57a;
    border-bottom: 1px solid black;
    margin: 1rem;
    margin-top: -1.5rem;
}

.activity {
    font-family: "Roboto-LightItalic";
    font-size: 1.1rem;
    margin: 1rem;
}

.form_mdp {
    display: flex;
    margin-bottom: 1rem;
}

.btn_visu {
    padding: 5px;
    margin: 1px;
    font-size: 1.3rem;
    flex: 1;
    background-color: #55c57a;
}