* {
    padding: 0;
    margin: 0;
}

.class {
    display: flex;
    flex-direction: column;
}

.main_class {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    margin-bottom: -2rem;
    height: 40rem;
}

.box_exo {
   flex: 0.80 !important;
    height: 50rem !important;
}


.box_class {
    font-family: "Roboto-Regular";
    height: 30rem;
    font-size: 1.5rem;
    margin: 1rem;
}

.head_btn {
    margin-top: 2rem;
    text-align: center;
}


.link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.10rem;
    padding: 2rem;
}

.zone_class {
    flex: 0.70;
    text-align: center;
}

.index {
    display: flex;
    margin: auto;
    justify-content: unset;
    flex: 0.30;
    background-image: linear-gradient(to left bottom, #7ed56f, #28b485);
}

.form_index {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin: 2rem;
}

.ressource {
    margin: 0.5rem;
}

.heading_zone {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.heading_zone_class {
    font-family: "Roboto-Light";
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid black;
}

.heading_zone-rubrik {
    font-family: "Roboto-Light";
    border-bottom: 1px solid black;
    font-size: 2rem;
    margin-top: 1rem;
}

.text_class {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text {
    font-size: 1.8rem;
    margin: 2rem;
    color: #333;
}

.box_btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.bottom_exercice {
    display: flex;
    flex-direction: column;
}

.drop {
    display: flex;
    justify-content: center;
}

.box_drop {
    display: flex;
    flex-direction: column;
    flex: 0.20;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
    border-radius: 3px;
    padding: 2rem;
}

.form_bottom {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin: 2rem;
}

.bottom_button {
    display: flex;
    flex-direction: row;
}
