* {
    margin: 0;
    padding: 0;
}

.choose_sec {
    display: flex;
    flex-direction: column;
}

.box_row {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.box-nav_section {
    width: 20%;
}

.red_section {
    margin: 1rem;
    flex: 0.5;
}

.btn_section {
    font-size: 1rem !important;
    padding: 1rem !important;
    margin-bottom: 1rem;
}


/*-----------------------------*/

.choose_exo {
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.red_exo {
    flex: 0.19;
}

.heading_exo {
    font-size: 1.7rem;
    margin-top: -1.5rem;
}

.box-nav_exo {
    width: 10%;
}

.message {
    font-size: 1.3rem;
    font-family: "Roboto-Medium";
    color: #6E6E6E;
    margin-bottom: 1rem;
}

.status {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
}