* {
    padding: 0;
    margin: 0;
}

body {
    height: 80rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.heading {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.book {
    display: flex;
    margin: auto;
    margin-top: 10rem;
    width: 50%;
    background-image:  linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, 
    rgba(255, 255, 255, 0.9) 50%, transparent 50%);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.heading-secondary {
    font-family: "Roboto-Light";
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

.logo-box1 {
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form_group {
    display: flex;
    margin: 35px;
  }
  
  .form_input {
    font-size: 1.5rem;
    color: inherit;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 3px solid transparent;
    height: 3rem;
    width: 120%;
    display: block;
    transition: all .3s;
  }
  
  .form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    border-bottom: 3px solid #28b485;
  }
  
  .form_input:focus:invalid {
    border-bottom: 3px solid #333;
  }
  
  .form_input::-webkit-input-placeholder {
    color: #333;
  }
  
  
  .form_label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
  
  .u-margin-bottom-medium {
    margin: 15px;
    padding: 10px;
  }
  
  .form_input:placeholder-shown ~ .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  
  
  