.form_date {
    width: 20% !important;
}

#btn-eval {
    margin-bottom: 2rem;
}

.box_eval_prof {
    flex: unset !important;
}

.form_choose {
    width: 20% !important;
    padding: 1rem;
    height: 1rem;
    justify-content: space-evenly;
}


.custom-select {
    margin: 1rem;
	display: block;
	font-size: 16px;
	font-family: "Roboto-light";
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.8);
}
.custom-select::-ms-expand {
    display: none;
    font-family: "Roboto-light";
}
.custom-select:hover {
    border-color: #55c57a;
    font-family: "Roboto-light";
    box-shadow: 0 1.5rem 4rem #55c57a;
}
.custom-select:focus {
	border-color: #55c57a;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
    outline: none;
    font-family: "Roboto-light";
}
.custom-select option {
    font-weight:normal;
    font-family: "Roboto-light";
}

.option_class {
    font-family: "Roboto-light";
}

.btn-space {
    margin-top: 1rem;
    width: 100%;
}