.heading_news {
    font-family: "Roboto-Light";
    font-size: 1.7rem;
    color: #55c57a;
    padding: 3px;
    margin-right: 1rem; 
    margin-left: 1rem;
    border-bottom: 1px solid #55c57a;
}

.heading_red {
    font-family: "Roboto-Light";
    font-size: 1.5rem;
    color: #55c57a;
    border-bottom: 1px solid #55c57a;
    margin: 1rem;
    margin-bottom: 2rem;
}

.heading_primary {
    font-family: "Roboto-Thin";
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin: 1.5rem;
}

.heading-tertiary {
    font-family: "Roboto-Regular";
    font-weight: 300;
    color: #55c57a;
    border-bottom: 1px solid #55c57a;
}

.heading_main_class {
    height: 16rem;
}