html,body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
  }

.heading_box {
    display: flex;
    margin: 2rem;
}

.heading_primary {
    font-family: "Lato";
    font-weight: 300;
    font-size: 2rem;
    border-bottom: 1px solid black;
}

.graph-cont{
  width: calc(100% - 40px);
  width: 80%;
  max-width: 800px;
}

h1,h2,h3{
  text-align: center;
  color: #34495e;
}

.bar{ 
  height: 30px;
  max-width: 500px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  position: relative;
}

  .bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
  }
  .bar::after{
    content: '';
    ;
    height: 30px;
    transition: 0.7s;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  


  .primary {
    display: flex;
    justify-content:  center;
    margin-top: 2rem;
}

.title {
    font-family: 'Lato';
    font-size: 2rem;
    color: #55c57a;
    letter-spacing: 0.5rem;
}
